header {
  height: 130vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}
/*============================= CTA =================================  */
.cta {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

/*============================= Social Header =================================  */
.header-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header-social::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ========================================= Header Image ==================================*/
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

/* ========================================= Scroll Down ==================================*/
.scroll__down {
  font-style: italic;
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}
.scroll__down:hover {
  transform: rotate(0deg);
}

/* ======================== Media query (Medium Devices/Tablets) ==============================*/
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}
/* ======================== Media query (Small Devices/Tablets) ==============================*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header-social,
  .scroll__down {
    display: none;
  }
}
