footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}
footer a {
  color: var(--color-bg);
}

.footer__logo {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--color-bg);
}

.footer__logo:hover {
  color: #fff;
}

.permalinks {
  display: flex;
  gap: 2rem;
  margin: 0 auto 2rem;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
}

.footer__social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.footer__social a {
  background: var(--color-bg);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  box-sizing: border-box;
}
.footer__social a:hover {
  background: #fff;
  padding: 0.7rem;
  color: var(--color-bg);
  border: 4px solid var(--color-bg);
  box-sizing: border-box;
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

.footer__copyright small a {
  font-weight: bold;
  color: var(--color-white);
}

/* ======================== Media query (Small Devices/Tablets) ==============================*/
@media screen and (max-width: 600px) {
  footer {
    margin-top: 20rem;
  }
  .permalinks {
    flex-direction: column;
    gap: 0.4rem;
  }
}
