
.container.testimonials__contianer {
  width: 40%;
}

.client__avator {
  width: 5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial{
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
  margin-top: 2rem;
}

.client__review{
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}


/* ======================== Media query (Medium Devices/Tablets) ==============================*/
@media screen and (max-width: 1024px) {
  #testimonials{
    margin-top: 20rem;
  }
  .container.testimonials__contianer{
    width: 60%;
  }
}
/* ======================== Media query (Small Devices/Tablets) ==============================*/
@media screen and (max-width: 600px) {
  #testimonials{
    margin-top: 130rem;
  }
  .container.testimonials__contianer{
    width: var(--container-width-sm);
    
  }

  .container__review{
    width: var(--container-width-sm);
  }

}