.experience__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.experience__container > div{
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 1.5rem;
  border: 1px solid transparent;
  transition:var(--transition);
}

.experience__container >div:hover{
  background: transparent;
  border-color: var(--color-primary-variant);
}

.experience__frontend h3,.experience__backend h3{
  text-align: center;
  margin-bottom: 2rem;
  color:var(--color-primary);
}

.experience__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}